@{
    ViewBag.Title = "Home Page";
}

<!-- Receipes Section Start -->
<section id="recipes" class="general-row">
    <div class="container">
        <div class="section-title">
            <h2>Discover Recipes</h2>
            <p>Discover recipes that match your unique tastes and diet preferences</p>
        </div>

        <!-- Floated Images -->
        <div class="images-left-top">
            <img src="assets/img/img-back-top1.png" alt="">
        </div>
        <div class="images-right-bottom">
            <img src="assets/img/food-plate-3.png" alt="">
        </div>

        <!-- Tabs Section Start -->
        <div id="tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a data-toggle="tab" role="tab" href="#tab1">
                        Breakfast
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" role="tab" href="#tab2">
                        Lunch
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" role="tab" href="#tab3">
                        Dinner
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" role="tab" href="#tab4">
                        Lunch
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" role="tab" href="#tab5">
                        Dessert
                    </a>
                </li>
            </ul>

            <!-- Tab content -->
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active " role="tabpanel">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-01.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html"> Rolls And Eggs 2</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$12.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-02.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Fruity Cereal</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$17.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-03.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Chicken Alfredo</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$26.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-04.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Caffe Latte</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$21.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-05.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Swordfish Fillet</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$17.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-06.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Pasta With Truffle</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$12.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-04.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Caffe Latte</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$29.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-05.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Swordfish Fillet</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$12.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-03.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Chicken Alfredo</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$17.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-01.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html"> Rolls And Eggs</a>2</h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$25.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-06.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Pasta With Truffle</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$12.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-02.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Fruity Cereal</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$19.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-01.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html"> Rolls And Eggs</a>2</h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$34.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-02.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Fruity Cereal</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$28.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-03.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Chicken Alfredo</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$36.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-04.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Caffe Latte</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$14.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-05.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Swordfish Fillet</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$32.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-06.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Pasta With Truffle</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$24.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab4" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-04.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Caffe Latte</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$29.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-05.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Swordfish Fillet</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$12.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-03.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Chicken Alfredo</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$17.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-01.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html"> Rolls And Eggs</a>2</h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$25.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-06.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Pasta With Truffle</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$11.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-02.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Fruity Cereal</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$19.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab5" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-01.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html"> Rolls And Eggs</a>2</h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$12.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-02.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Fruity Cereal</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$26.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-03.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Chicken Alfredo</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$17.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-04.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Caffe Latte</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$30.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-05.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Swordfish Fillet</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$15.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="assets/img/recipes/img-06.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">Pasta With Truffle</a></h3>
                                    <p>Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt.</p>
                                    <a href="#" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>$27.5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tab content End -->
        </div>
        <!-- Tabs Section End -->
    </div>
</section>
<!-- Receipes Section End -->