@model FoodHub.ViewModels.ItemEntry
@{
    ViewBag.Title = "Home Page";
}
<script>
    function AddToCart(itcd) {
       
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddToCart", "Home")',
            data: { "itemcd": itcd },
            datatype: JSON,
            success: function (data) {
                if (data == "Success") {
                    //window.open("~/Home/Cart");
                    window.location.href = "/Home/Cart";
                }
                else {
                    alert(data);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

</script>
<!-- Receipes Section Start -->
<section id="recipes" class="general-row">
    <div class="container">
        <div class="section-title">
            <h2>Discover Recipes</h2>
            <p>Discover recipes that match your unique tastes and diet preferences</p>
        </div>

        <!-- Floated Images -->
        <div class="images-left-top">
            <img src="assets/img/img-back-top1.png" alt="">
        </div>
        <div class="images-right-bottom">
            <img src="assets/img/food-plate-3.png" alt="">
        </div>

        <!-- Tabs Section Start -->
        <div id="tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a data-toggle="tab" role="tab" href="#tab1">
                        Breakfast
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" role="tab" href="#tab2">
                        Lunch
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" role="tab" href="#tab3">
                        Dinner
                    </a>
                </li>
            </ul>

            <!-- Tab content -->
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active " role="tabpanel">
                    <div class="row">
                        @Html.Partial("_Breakfast")
                    </div>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <div class="row">
                        @Html.Partial("_Lunch")
                    </div>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <div class="row">
                        @Html.Partial("_Dinner")
                    </div>
                </div>
            </div>
            <!-- Tab content End -->
        </div>
        <!-- Tabs Section End -->
    </div>
</section>
<!-- Receipes Section End -->