@model FoodHub.ViewModels.ItemEntry

@{
        ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Page Section Start -->
<div class="page-container">
    <div class="container">

        <div class="col-md-12">
            <div class="row">
                @if (Model.ITEMLIST != null)
                {
                    foreach (var Q in Model.ITEMLIST)
                    {
                        <div class="col-md-6 col-sm-6 col-sx-12">
                            <div class="menu-item">
                                <div class="menu-left">
                                    <img src=@Q.IMG alt="@Q.ITEM_NM">
                                   

                                </div>
                                <div class="menu-right">
                                    <span class="price">@Q.PRICE</span>
                                    <h4>@Q.ITEM_NM</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>@Q.ITEM_DESC</p>
                                </div>
                            </div>
                        </div>
                    }
                }



            </div>
        </div>
    </div>
</div>
<!-- Page Section End -->